<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
Name: <p th:text="${manager.getName()}"></p>
Surname: <p th:text="${manager.getSurname()}"></p>
Age: <p th:text="${manager.getAge()}"></p>
Experience: <p th:text="${manager.getExperience()}"></p>
Workers: <div th:each="id : ${manager.getWorkersId()}">
            <div th:each="worker : ${workers}">
                <p th:if="${worker.getId()}==${id}" th:text="${worker.getName() + worker.getSurname()}"></p>
            </div>
        </div>

<form th:action="@{/managers/{id}/add_worker(id=${manager.getId()})}">
    <input type="submit" value="Add worker">
</form>

<form th:action="@{/managers/{id}/edit(id=${manager.getId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/managers/{id}(id=${manager.getId()})}">
    <input type="submit" value="Delete">
</form>


</body>
</html>